<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="Contacts" connectionString="Server=79820c2b-e777-49a4-9f8c-a47d01712d67.sqlserver.sequelizer.com;Database=db79820c2be77749a49f8ca47d01712d67;User ID=bnkinjagrounycwi;Password=cghXrxAnpiyGLcUJ52sJggJEew5JxcSY5qFecYoNfjdx6AKMWmJfUso5DJS4BZXn;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
